{
    "presets": ["@babel/preset-env", ["@babel/preset-react", {"runtime": "automatic"}]],
    "plugins": [
      "@babel/plugin-transform-modules-commonjs",
      ["babel-plugin-transform-vite-meta-env", {
        "env": {
          "VITE_BACKEND_API_KEY": "http://mocked-api-key"
        }
      }]
    ]
  }
  